#homeBTN1{
 -fx-background-color:  #11a1f7;
}
#homeBTN1:hover {
 -fx-background-color: gold;
}
#homeBTN2{
    -fx-background-color:  #11a1f7;
}
#homeBTN2:hover {
    -fx-background-color: gold;
}
#homeBTN3{
    -fx-background-color:  #11a1f7;
}
#homeBTN3:hover {
    -fx-background-color: gold;
}
#homeBTN4{
    -fx-background-color:  #11a1f7;
}
#homeBTN4:hover {
    -fx-background-color: gold;
}
#homeBTN5{
    -fx-background-color:  #11a1f7;
}
#homeBTN5:hover {
    -fx-background-color: gold;
}
#homeBTN6{
    -fx-background-color:  #11a1f7;
}
#homeBTN6:hover {
    -fx-background-color: gold;
}
#homeBTN7{
    -fx-background-color:  purple;
}
#homeBTN7:hover {
    -fx-background-color: gold;
}
#homeBTN8{
    -fx-background-color:  orange;
}
#homeBTN8:hover {
    -fx-background-color: gold;
}
#homeBTN9{
    -fx-background-color:  black;
}
#homeBTN9:hover {
    -fx-background-color: gold;
}