#BTN1{
    -fx-background-color:  black;
}
#BTN1:hover {
    -fx-background-color: gold;
}
#BTN2{
    -fx-background-color:  black;
}
#BTN2:hover {
    -fx-background-color: gold;
}

#BTN21{
    -fx-background-color:  black;
}
#BTN21:hover {
    -fx-background-color: gold;
}
#clear{
    -fx-background-color:  #008000;
}
#clear:hover {
    -fx-background-color: gold;
}
#delete{
    -fx-background-color:  red;
}
#delete:hover {
    -fx-background-color: gold;
}
#edit{
    -fx-background-color:  orange;
}
#edit:hover {
    -fx-background-color: gold;
}
#add{
    -fx-background-color: #1E90FF;
}
#add:hover {
    -fx-background-color: gold;
}



